$white: #fff;

$body-color: #ddd;
$app-color: #fff;
$main-color: #4dabf7;
$light-black-color: rgba(0, 0, 0, 0.7);

// Todo
$todo-button-width: calc(1em + 2px);
$delete-button-color: #d9534f;
$completed-color: #adb5bd;

// Tab
$tab-background-color: rgba(241, 243, 245, 0.5);
$tab-border-color: #dee2e6;
