.todo-tab {
	display: flex;

	.tab {
		&-item {
			width: 50%;
			background-color: $tab-background-color;
			border-bottom: 2px solid $tab-border-color;
			font-size: 1.6rem;
			color: $tab-font-color;

			label {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				padding: 1.5em;
				font-size: 1em;
				cursor: pointer;
			}

			&.active {
				border-bottom: none;
				background: $white;
				color: $main-color;
			}

			&:first-child {
				width: calc(50% + 2px);
				border-right: 2px solid $tab-border-color;
			}
		}

		&-radio {
			display: none;
		}
	}
}
