.todo {
	&-list {
		&-container {
			flex: 1;
			overflow-y: auto;
			padding: 0 0.5rem;
			margin: 0 -0.5rem;
		}
	}

	&-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 2.5rem;
		color: $light-black-color;

		&.todo-item--empty {
			justify-content: center;
			padding: 5rem 0;
			height: auto;
		}

		&:not(:last-child) {
			margin-bottom: 1.25rem;
		}

		// checkbox
		&__checkbox {
			margin-right: 0.5rem;

			&-wrapper {
				width: calc(100% - 8rem);
				height: 100%;
				margin-right: 0;

				.state {
					height: 100%;
				}
			}
		}

		&__edit {
			display: flex;
			align-items: center;
			width: 100%;
			padding: 0.5rem;
			outline: none;
			font-size: 0.8em;
			border: 0.1rem solid #ddd;
			transition: border-color 0.3s;

			&:focus,
			&:active {
				border-color: $main-color;
			}

			&-wrapper {
				width: calc(100% - 8rem);
				height: 100%;
			}
		}

		&__btns {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			width: 8rem;
		}

		&__btn {
			display: flex;
			align-items: center;
			justify-content: center;
			width: $todo-button-width;
			height: $todo-button-width;
			font-size: 1.25em;
			font-weight: bold;
			opacity: 0.75;
			transition: opacity 0.3s;

			i {
				pointer-events: none;
			}

			&:hover,
			&:active {
				opacity: 1;
			}

			&.todo-item__btn {
				&--delete {
					color: $delete-button-color;
				}

				&--edit,
				&--redo,
				&--done {
					font-size: 1em;
				}

				&--redo {
					margin-left: 1.45rem !important;
					color: $main-color-dark;
				}
			}

			&:last-child {
				margin-left: 1rem;
			}
		}

		label {
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;
			height: 100%;
			line-height: 1em;

			&::before,
			&::after {
				top: 0 !important;
				border-radius: 0.2em !important;
			}
		}

		&__title {
			font-size: 2rem;

			strike {
				color: $completed-color;
			}
		}
	}
}
